*{
    box-sizing: border-box;
    color: black;
}

@font-face {
    font-family: 'ubuntu';
    src: url(/s2/fonts/Ubuntu-Regular.ttf);
}

section{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.portafolio{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: column;
    margin: 20px;
}
img
{
    width: 22rem;
    height: 14rem;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}
article{
    display: flex;
}
body{
    background-image: url(images/sky.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'ubuntu';
    text-align: left;
    margin: 0;
}
.highlight{
    border-radius: 10px;
    padding: 0.5rem 1rem;
}
.organize{
    background-color: white;
    display: flex;
    flex-wrap: wrap; 
    gap: 1px; 
    justify-content: center; 
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
header{
    width: 100vw;
    background: white;
    padding: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 1rem;
}
.hover{
    text-decoration: none;
    font-weight: 600;
}
.hover:hover{
    text-decoration: underline;
    color: grey;
}
.navigation{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: right;
    padding: 1rem;
}
nav{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}
.mascotas{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}
.form{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}
.campo{
    margin: 1rem 0;
}
.proyecto{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}
.proyectos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    display: flex; 
    flex-wrap: wrap;
}
.align{
    width: 100%;
    justify-content: space-around;
}
.paragraph{
    text-size-adjust: initial;
    width: 50ch;
}
#mostrar{
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .paragraph{
        width: 30ch;
    }
    .animales{
        width: 16rem;
        height: 10rem;
    }
}
@media (max-width: 1250px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .proyectos{
        grid-template-columns: repeat(2, 1fr);
    }
    .paragraph{
        width: 40ch;
    }
}